<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public\css\style.css">
    <script src="https://kit.fontawesome.com/c3d638413c.js" crossorigin="anonymous"></script>
    <title>MercadoLiebre</title>
</head>
<body>
    <header class="header">
        <div class="headerMain">
            <div class="headerLogoYBuscador">
                <a href="/">
                    <img src="public\images\logo-mercado-liebre.svg" alt="MercadoLiebre" class="logo">
                </a>
                <div class="headerBuscador">
                    <form action="">
                        <input type="search" name="busqueda" placeholder="Buscar productos, marcas..." class="buscador">
                        <div class="botonBuscar">
                            <i class="fas fa-search header-brand-search-icon"></i>
                        </div>
                    </form>
                </div>
            </div>
            <p class="headerLeyenda">
                <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjetas de credito
            </p>
        </div>
        <nav class="headerNav">
            <div class="headerNavItems">
                <ul type="none">
                    <li>
                        <a href="javascript:alert('En construcción');">Ofertas</a>
                    </li>
                    <li>
                        <a href="javascript:alert('En construcción');">Tiendas oficiales</a>
                    </li>
                    <li>
                        <a href="javascript:alert('En construcción');">Vender</a>
                    </li>
                    <li>
                        <a href="javascript:alert('En construcción');">Ayuda</a>
                    </li>
                </ul>
                <ul type="none">
                    <li>
                        <a href="/register">Crea tu cuenta 
                            <i class="fa-solid fa-address-card"></i>
                        </a> 
                    </li>
                    <li>
                        <a href="/login">Ingresar 
                            <i class="fa-solid fa-arrow-right-to-bracket"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Mis Compras 
                            <i class="fa-solid fa-basket-shopping"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="burgerMenu">
            <div class="burgerMenuDetails">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </header>

        <div class="banner">
            <div>
                <img src="public\images\img-home-banner.jpg" alt="banner" class="bannerImagen" width="100%">
            </div>
        </div>

    <main class="main">
       
        <h3 class="tituloProductos">Basado en la ultima busqueda</h3>
        
        <section class="section1">

            <article class="productos">
                <div class="productoContenedor">
                    <figure>
                        <img src="public\images\img-cafetera-moulinex.jpg" alt="cafetera" width="100%">
                    </figure>

                    <div class="descProducto">
                        <div class="iconArticle">
                              <i class="fa-solid fa-truck-fast"></i>
                        </div>
                        <div class="productPrice">
                         <span class="precio">$6.770</span>
                         <small class="descuentos">40% off</small>
                        </div>
                        <h4>Cafetera Moulinex</h4>
                    </div>
                </div> 
            </article>

            <article class="productos">
                <div class="productoContenedor">
                <figure>
                     <img src="public\images\img-macbook-pro-2019.jpg" alt="macbook" width="100%">
                </figure>

               <div class="descProducto">
                    <div class="iconArticle">
                        <i class="fa-solid fa-truck-fast"></i>
                    </div>
                    <p class="productPrice">
                     <span class="precio">$230.000</span>
                     <small class="descuentos">20% off</small>
                    </p>
                    <h4 class="productName">MacBook Pro 2019</h4>
                </div>
             </div>
            </article>
            
            <article class="productos">
                <div class="productoContenedor">
                <figure>
                     <img src="public\images\img-samsung-galaxy-s10.jpg" alt="samsung" width="100%">
                </figure>

               <div class="descProducto">
                    <div class="iconArticle">
                        <i class="fa-solid fa-truck-fast"></i>
                    </div>
                    <p class="productPrice">
                     <span class="precio">$70.500</span>
                     <small class="descuentos">10% off</small>
                    </p>
                    <h4 class="productName">Samgun galaxy S10</h4>
                </div>
                </div>  
            </article>

            <article class="productos">
                <div class="productoContenedor">
                <figure>
                     <img src="public\images\img-tv-samsung-smart.jpg" alt="smartTV" width="100%">
                </figure>

               <div class="descProducto">
                    <div class="iconArticle">
                        <i class="fa-solid fa-truck-fast"></i>
                    </div>
                    <p class="productPrice">
                     <span class="precio">$23.200</span>
                     <small class="descuentos">5% off</small>
                    </p>
                    <h4 class="productName">Smart TV Samsung 43"</h4>
                </div>
                </div>
            </article>

        </section>


           <h3 class="tituloProductos">Ofertas</h3>
           <section class="section1">

            <article class="productos">
                <div class="productoContenedor">
                    <figure>
                        <img src="public\images\img-cafetera-moulinex.jpg" alt="cafetera" width="100%">
                    </figure>

                    <div class="descProducto">
                        <div class="iconArticle">
                              <i class="fa-solid fa-truck-fast"></i>
                        </div>
                        <div class="productPrice">
                         <span class="precio">$6.770</span>
                         <small class="descuentos">40% off</small>
                        </div>
                        <h4>Cafetera Moulinex</h4>
                    </div>
                </div> 
            </article>

            <article class="productos">
                <div class="productoContenedor">
                <figure>
                     <img src="public\images\img-macbook-pro-2019.jpg" alt="macbook" width="100%">
                </figure>

               <div class="descProducto">
                    <div class="iconArticle">
                        <i class="fa-solid fa-truck-fast"></i>
                    </div>
                    <p class="productPrice">
                     <span class="precio">$230.000</span>
                     <small class="descuentos">20% off</small>
                    </p>
                    <h4 class="productName">MacBook Pro 2019</h4>
                </div>
             </div>
            </article>
            
            <article class="productos">
                <div class="productoContenedor">
                <figure>
                     <img src="public\images\img-samsung-galaxy-s10.jpg" alt="samsung" width="100%">
                </figure>

               <div class="descProducto">
                    <div class="iconArticle">
                        <i class="fa-solid fa-truck-fast"></i>
                    </div>
                    <p class="productPrice">
                     <span class="precio">$70.500</span>
                     <small class="descuentos">10% off</small>
                    </p>
                    <h4 class="productName">Samgun galaxy S10</h4>
                </div>
                </div>  
            </article>

            <article class="productos">
                <div class="productoContenedor">
                <figure>
                     <img src="public\images\img-tv-samsung-smart.jpg" alt="smartTV" width="100%">
                </figure>

               <div class="descProducto">
                    <div class="iconArticle">
                        <i class="fa-solid fa-truck-fast"></i>
                    </div>
                    <p class="productPrice">
                     <span class="precio">$23.200</span>
                     <small class="descuentos">5% off</small>
                    </p>
                    <h4 class="productName">Smart TV Samsung 43"</h4>
                </div>
                </div>
            </article>

        </section>
    </main>

    <footer>
        <section class="seccionfooter">
            <article class="artFooter">
                <figure>
                    <i class="fas fa-credit-card"></i>
                </figure>
                <b class="tituloFooter">Pagá con tarjeta o en efectivo</b>
                <p class="detallesFooter">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>

            <article class="artFooter">
                <figure>
                    <i class="fa-solid fa-gift"></i>
                </figure>
                <b class="tituloFooter">Envío gratis desde $ 2.500</b>
                <p class="detallesFooter">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article class="artFooter">
                <figure>
                    <i class="fa-solid fa-user-shield"></i>
                </figure>
                <b class="tituloFooter">Seguridad, de principio a fin</b>
                <p class="detallesFooter">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
        </section>
        <section class="copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>                                                                 