.formularioRegistro{
    width: 70%;
    border-radius: 5px;
    background-color: #fff;
    padding: 15px;
    margin: 15px auto 10px;
}

form {
    display: block;
    margin-top: 0em;
    margin-block-end: 1em;
}

.formGrupo{
    margin-bottom: 15px;
}

label{
    cursor: default;
}

.formGrupo .formInput{
        border: 1px solid #ebebeb;
        border-radius: 5px;
        margin: 0;
        outline: 0;
        line-height: 1.5;
        padding: 0.5rem 1rem;
        font-size: 1em;
        background: #fff;
        color: rgba(0, 0, 0, .8);
        transition: all .1s ease;
        width: 100%;
}


.formGrupo .formLabel{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

.bordeSeparador{
    margin: 15px 0;
    border-bottom: 1px solid #ebebeb;
    display: block;
    height: 0;
}

.formGrupos{
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.formGruposEnLinea{
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.formBotonEnviar{
    display: inline-block;
    text-align: center;
    background-color: #1259c3;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
}

.formBotonBorrar{
    display: inline-block;
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #ebebeb;
    color: #000;
    margin-left: 15px;
}

.formGrupoCentro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    padding: 10px 15px;
}

.formGrupoCentro .formInput{
    border: 1px solid #ebebeb;
    border-radius: 5px;
    margin: 0;
    outline: 0;
    line-height: 1.5;
    padding: 0.5rem 1rem;
    font-size: 1em;
    background: #fff;
    color: rgba(0, 0, 0, .8);
    transition: all .1s ease;
    width: 100%;
}


@media (min-width: 769px){
.formularioRegistro {
    width: 50vw;
}

.formGrupo .formInput{
    width: 50%;
}

.formGrupoCentro .formInput{
    width: 50%;
}
}